<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE wire-frame SYSTEM "config.dtd">
<config>
	<wire-frames>
		<!-- Relative URI's start from the script directory. -->
		<wire-frame name="Sedan" default="true">../sedan.objm</wire-frame>
		<wire-frame name="Hatchback">../hatchback.objm</wire-frame>
		<wire-frame name="Pickup">../pickup.objm</wire-frame>
		<wire-frame name="SUV">../suv.objm</wire-frame>
		<wire-frame name="Van">../van.objm</wire-frame>
	</wire-frames>
</config>